.CheckoutSummary {
  text-align: center;
  width: 80%;
  margin: auto;
}
h1 {
  text-align: center;
  font-size: 1.5rem;
  color: black;
}
@media (min-width: 600px) {
  .CheckoutSummary {
    width: 350px;
  }
}
