.ContactData {
  margin: 20px auto;
  width: 80%;
  text-align: center;
}
input {
  display: block;
  align-items: center;
  padding: 2px;
  margin-top: 5px;
}
form {
  margin-bottom: 5px;
}
@media (min-width: 600px) {
  .ContactData {
    width: 500px;
  }
}
