.ContactData {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  padding-bottom: 30px;
  box-sizing: border-box;
}
input {
  display: block;
  align-items: center;
  padding: 2px;
  margin: 5px auto;
}
form {
  margin-bottom: 10px;
}

@media (min-width: 600px) {
  .ContactData {
    width: 500px;
  }
}
